<div
  class="container"
  infiniteScroll
  [infiniteScrollDistance]="3"
  (scrolled)="onScroll()"
>
  <home-movement-list-item
    *ngFor="let movement of movements"
    [amount]="movement.formattedAmount"
    [date]="movement.formattedDate"
    [description]="movement.description"
    [type]="movement.type"
  ></home-movement-list-item>
  <span *ngIf="loadMore" class="loading-text">Cargando...</span>
</div>
