@import "breakpoints"

.container
    display: flex
    flex-direction: column
    margin: 8px auto
    width: calc(100% - 48px)
    z-index: 1
    @include breakpoint(sm)
        width: 500px
    @include breakpoint(md)
        margin: 12px auto
        width: 700px
    @include breakpoint(lg)
        width: 900px
    @include breakpoint(xl)
        width: 1100px
    .loading-text
        min-height: 26px
        color: #ccc
        font-size: 24px
        font-weight: 100
        line-height: 26px
        margin: 12px 0
        @include breakpoint(sm)
            min-height: 34px
            font-size: 32px
            line-height: 34px
            margin: 16px 0
        @include breakpoint(md)
            min-height: 42px
            font-size: 40px
            line-height: 42px
            margin: 20px 0
        @include breakpoint(lg)
            min-height: 50px
            font-size: 48px
            line-height: 50px
