@import "breakpoints"
@import "vars"

.container
    position: absolute
    display: flex
    width: 100%
    height: 100%
    overflow: auto
    .content
        display: flex
        flex-direction: column
        width: 100%
        margin: auto
        @include breakpoint(sm)
            width: 360px
        @include breakpoint(md)
            width: 528px
        .title
            min-height: 84px
            color: $primary
            font-size: 82px
            font-weight: 600
            line-height: 84px
            margin: 0
            text-align: center
            @include breakpoint(sm)
                min-height: 112px
                font-size: 110px
                line-height: 112px
            @include breakpoint(md)
                min-height: 160px
                font-size: 158px
                line-height: 160px
        .message
            min-height: 16px
            color: $secondary
            font-size: 14px
            font-weight: 500
            line-height: 16px
            margin: 0
            text-align: center
            @include breakpoint(sm)
                min-height: 22px
                font-size: 20px
                line-height: 22px
            @include breakpoint(md)
                min-height: 32px
                font-size: 30px
                line-height: 32px
