@import "vars"

.username-input
    margin: 20px 0 42px 0

.password-input
    margin: 20px 0 32px 0

.submit-button
    width: 100%
    margin: 16px 0 0 0

.error-message
    display: flex
    padding: 10px 16px
    background-color: #ffebee
    border: 1px solid $error
    border-radius: 4px
    overflow: hidden
    transition: all 0.3s linear
    span
        width: 100%
        font-size: 12px
        color: $error
    &.hidden
        height: 0
        border: 0
        padding: 0 16px
