<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div
    class="material-input-wrapper username-input"
    [class.is-invalid]="
      loginForm.controls['username'].invalid &&
      loginForm.controls['username'].touched
    "
  >
    <input
      id="username"
      placeholder=" "
      type="email"
      formControlName="username"
    />
    <span class="label">Email</span>
    <div *ngIf="(username.invalid && username.touched) || username.dirty">
      <span *ngIf="username.errors?.['required']" class="error"
        >Este campo es requerido</span
      >
      <span *ngIf="username.errors?.['pattern']" class="error"
        >Dirección de email inválida</span
      >
    </div>
  </div>
  <div
    class="material-input-wrapper password-input"
    [class.is-invalid]="
      loginForm.controls['password'].invalid &&
      loginForm.controls['password'].touched
    "
  >
    <input
      class="styled-input"
      id="password"
      placeholder=" "
      type="password"
      formControlName="password"
    />
    <span class="label">Contraseña</span>
    <div *ngIf="(password.invalid && password.touched) || password.dirty">
      <span *ngIf="password.errors?.['required']" class="error"
        >Este campo es requerido</span
      >
    </div>
  </div>
  <div class="error-message" [class.hidden]="!authHasError">
    <span>Email y/o contraseña incorrectas. Vuelva a intentarlo.</span>
  </div>
  <button
    [disabled]="isSubmitting"
    class="material-button submit-button"
    type="submit"
  >
    {{ isSubmitting ? "Iniciando..." : "Entrar" }}
  </button>
</form>
