@import "breakpoints"
@import "vars"

header
    position: sticky
    top: 0
    display: flex
    width: 100%
    height: 50px
    background-color: $primary
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%)
    z-index: 2
    @include breakpoint(sm)
        height: 64px
    @include breakpoint(md)
        height: 80px
    @include breakpoint(lg)
        height: 100px
    .content
        display: flex
        align-items: center
        width: calc(100% - 48px)
        height: 26px
        margin: 12px auto
        transition: opacity 0.35s linear
        @include breakpoint(sm)
            width: 500px
            height: 34px
            margin: 16px auto
        @include breakpoint(md)
            width: 700px
            height: 42px
            margin: 19px auto
        @include breakpoint(lg)
            width: 900px
            height: 50px
            margin: 25px auto
        @include breakpoint(xl)
            width: 1100px
        .text
            flex-grow: 1
            min-height: 26px
            color: #fff
            font-size: 24px
            line-height: 26px
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            @include breakpoint(sm)
                min-height: 34px
                font-size: 32px
                line-height: 34px
            @include breakpoint(md)
                min-height: 42px
                font-size: 40px
                line-height: 42px
            @include breakpoint(lg)
                min-height: 50px
                font-size: 48px
                line-height: 50px
    .is-hidden
        opacity: 0
