<div class="container">
    <span class="date">{{date}}</span>
    <span class="description">{{description}}</span>
    <span class="amount" [class.is-charge-type]="type === 'CHARGE'">{{amount}}</span>
</div>