@import "breakpoints"
@import "vars"

.container
    display: flex
    align-items: center
    position: relative
    min-height: 64px
    margin: 12px 0
    background-color: #fff
    border-radius: 2px
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%)
    padding: 0 12px
    @include breakpoint(sm)
        margin: 16px 0
    @include breakpoint(md)
        min-height: 80px
        padding: 0 16px
        margin: 20px 0
        border-radius: 4px
    .date
        position: absolute
        min-height: 12px
        color: $text
        font-size: 10px
        line-height: 12px
        color: #fff
        padding: 1px 3px
        top: 0
        left: 0
        border-radius: 2px 0 2px 0
        background-color: $primarylight
        @include breakpoint(md)
            min-height: 13px
            font-size: 11px
            line-height: 13px
            border-radius: 4px 0 4px 0
            padding: 2px 4px
    .description
        flex-grow: 1
        min-height: 18px
        color: $text
        font-size: 16px
        line-height: 18px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        @include breakpoint(md)
            min-height: 20px
            font-size: 18px
            line-height: 20px
        @include breakpoint(lg)
            min-height: 22px
            font-size: 20px
            line-height: 22px
    .amount
        width: 150px
        min-width: 150px
        min-height: 18px
        color: #689f38
        font-size: 16px
        line-height: 18px
        margin-left: 6px
        text-align: right
        font-weight: 600
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        &.is-charge-type
            color: $error
        @include breakpoint(md)
            width: 160px
            min-width: 160px
            min-height: 20px
            font-size: 18px
            line-height: 20px
            margin-left: 10px
        @include breakpoint(lg)
            width: 170px
            min-width: 170px
            min-height: 22px
            font-size: 20px
            line-height: 22px
