@import "vars"

html
    line-height: 1.15
    -webkit-text-size-adjust: 100%

body
    margin: 0
    margin: 0
    font-family: 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    background-color: #f5f5f5

main
    display: block

h1
    font-size: 2em
    margin: 0.67em 0

hr
    box-sizing: content-box
    height: 0
    overflow: visible

pre
    font-family: monospace, monospace
    font-size: 1em

a
    background-color: transparent

abbr[title]
    border-bottom: none
    text-decoration: underline
    text-decoration: underline dotted

b,
strong
    font-weight: bolder

code,
kbd,
samp
    font-family: monospace, monospace
    font-size: 1em

small
    font-size: 80%

sub,
sup
    font-size: 75%
    line-height: 0
    position: relative
    vertical-align: baseline

sub
    bottom: -0.25em

sup
    top: -0.5em

img
    border-style: none

button,
input,
optgroup,
select,
textarea
    font-family: inherit
    font-size: 100%
    line-height: 1.15
    margin: 0

button,
input
    overflow: visible

button,
select
    text-transform: none

button,
[type="button"],
[type="reset"],
[type="submit"]
    -webkit-appearance: button

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
    border-style: none
    padding: 0

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring
    outline: 1px dotted ButtonText

fieldset
    padding: 0.35em 0.75em 0.625em

legend
    box-sizing: border-box
    color: inherit
    display: table
    max-width: 100%
    padding: 0
    white-space: normal

progress
    vertical-align: baseline

textarea
    overflow: auto

[type="checkbox"],
[type="radio"]
    box-sizing: border-box
    padding: 0

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
    height: auto

[type="search"]
    -webkit-appearance: textfield
    outline-offset: -2px

[type="search"]::-webkit-search-decoration
    -webkit-appearance: none

::-webkit-file-upload-button
    -webkit-appearance: button
    font: inherit

details
    display: block

summary
    display: list-item

template
    display: none

[hidden]
    display: none

.material-input-wrapper
    display: block
    position: relative
    margin: 20px 0
    input
        padding: 16px 0 8px 0
        width: 100%
        border: 0
        border-radius: 0
        box-shadow: none
        background-color: initial
        color: $text
        caret-color: $primarylight
        border-bottom: 2px solid #8a8a8a
        font-size: 14px
        line-height: 1.15
        margin: 0
        outline: none
        &:hover:not(:disabled):not(:focus)
            border-bottom: 2px solid #1e1e1e !important

        &:focus
            border-bottom: 2px solid $primarylight
            transition: all 0.2s
            ~ .label
                color: $primarylight

        &:placeholder-shown:not(:focus)
            border-bottom: 2px solid #8a8a8a
            + .label
                font-size: 16px
                top: 20px
                color: #838383

        &:disabled
            border-bottom: 2px dotted #8a8a8a !important
            pointer-events: none
            background-color: inherit

    &.is-invalid
        .label
            color: $error
        input:not(:focus),
        input:hover:not(:placeholder-shown):not(:focus)
            border-bottom: 2px solid $error !important
        .error
            display: block

    .label
        position: absolute
        left: 0
        top: 0
        cursor: text
        font-size: 12px
        color: #6d6d6d
        transition: all 0.2s
        pointer-events: none

    .error
        font-size: 12px
        padding-top: 8px
        line-height: 1
        color: $error
        display: none

.material-button
    position: relative
    display: block
    margin: 30px auto
    padding: 12px 24px
    color: #ecf0f1
    overflow: hidden
    border-width: 0
    outline: none
    border-radius: 2px
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6)
    background-color: $secondary
    transition: background-color 0.3s
    cursor: pointer

    &:hover,
    &:focus
        background-color: $secondarydark

    &:before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        display: block
        width: 0
        padding-top: 0
        border-radius: 100%
        background-color: rgba(236, 240, 241, 0.3)
        transform: translate(-50%, -50%)

    &:active:before
        width: 120%
        padding-top: 120%
        transition: width 0.2s ease-out, padding-top 0.2s ease-out

    &.disabled
        pointer-events: none
        background-color: #bbb
        cursor: default
