@import "breakpoints"

svg
    width: 20px
    min-width: 20px
    height: 20px
    cursor: pointer
    margin-left: 10px
    path
        fill: #fff

    @include breakpoint(sm)
        width: 24px
        min-width: 24px
        height: 24px
    @include breakpoint(md)
        width: 28px
        min-width: 28px
        height: 28px
    @include breakpoint(lg)
        width: 32px
        min-width: 32px
        height: 32px
