@import "breakpoints"
@import "vars"

.container
    position: absolute
    display: flex
    width: 100%
    height: 100%
    background-color: $primarylight
    overflow: auto
    .card
        display: flex
        flex-direction: column
        width: 100%
        background-color: #fff
        padding: 40px 36px
        margin: auto
        @include breakpoint(sm)
            width: 360px
            border-radius: 6px
            box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%)
        @include breakpoint(md)
            width: 528px
    .title
        min-height: 32px
        color: $primary
        font-size: 30px
        font-weight: 600
        line-height: 32px
        position: relative
        &:before
            background-color: $primary
            content: ''
            display: block
            height: 32px
            left: -36px
            margin-top: -16px
            position: absolute
            top: 50%
            width: 5px
